@model IEnumerable<AnimalsClassLibrary.Animals.Animal>

@{
}

<h2>List of Animals</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Sound</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var animal in Model)
        {
            <tr>
                <td>@Html.Raw(animal.AnimalPrinter.PrintNameHtml(animal.Name))</td>
                <td>@Html.Raw(animal.AnimalPrinter.PrintSoundHtml(animal.Sound))</td>

                @{
                    animal.PrintNameСonsole();
                    animal.MakeSoundConsole();
                }

            </tr>
        }
    </tbody>
</table>

<h2>Save / Download</h2>

<ul class="file_action-list">
    <li class="file_action-item">
        <a asp-controller="Animal" asp-action="ExportAnimalsToFile">Download Info About Animals (txt file)</a>
    </li>

    <li class="file_action-item">
        <a asp-controller="Animal" asp-action="ExportAnimalsToJson">Download Info About Animals (json file)</a>
    </li>

    <li class="file_action-item">
        <form method="post" action="@Url.Action("ImportAnimalsFromJson", "Animal")" enctype="multipart/form-data">
            <div class="form-group">
                <label for="file">Select JSON File:</label>
                <input type="file" name="file" id="file" required>
            </div>
            <button type="submit" class="btn btn-primary">Import Animals</button>
        </form>
    </li>

    <li class="file_action-item">
        <a asp-controller="Animal" asp-action="ExportAnimalsToBinary">Download Info About Animals (binary file)</a>
    </li>

    <li class="file_action-item">
        <form method="post" action="@Url.Action("ImportAnimalsFromBinary", "Animal")" enctype="multipart/form-data">
            <div class="form-group">
                <label for="file">Select binary File:</label>
                <input type="file" name="file" id="file" required>
            </div>
            <button type="submit" class="btn btn-primary">Import Animals</button>
        </form>
    </li>
</ul>