@model IEnumerable<ShapesClassLibrary.Shapes.Shape>

@{
}

<h2>List of Shapes</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Output</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var shape in Model)
        {
            <tr>
                <td>@Html.Raw(shape.PrintNameHtml())</td>
                <td>@Html.Raw(shape.PrintShapeHtml())</td>

                @{
                    shape.PrintNameConsole();
                    shape.PrintShapeConsole();
                }
            </tr>
        }
    </tbody>
</table>

<h2>Save / Download</h2>

<ul class="file_action-list">
    <li class="file_action-item">
        <a asp-controller="Shape" asp-action="ExportShapesToFile">Download Info About Shapes (txt file)</a>
    </li>

    @* <li class="file_action-item">
        <a asp-controller="Shape" asp-action="ExportShapesToJson">Download Info About Shapes (json file)</a>
    </li>

    <li class="file_action-item">
        <form method="post" action="@Url.Action("ImportShapesFromJson", "Shape")" enctype="multipart/form-data">
            <div class="form-group">
                <label for="file">Select JSON File:</label>
                <input type="file" name="file" id="file" required>
            </div>
            <button type="submit" class="btn btn-primary">Import Animals</button>
        </form>
    </li>

    <li class="file_action-item">
        <a asp-controller="Shape" asp-action="ExportShapesToBinary">Download Info About Shapes (binary file)</a>
    </li>

    <li class="file_action-item">
        <form method="post" action="@Url.Action("ImportShapesFromBinary", "Shape")" enctype="multipart/form-data">
            <div class="form-group">
                <label for="file">Select binary File:</label>
                <input type="file" name="file" id="file" required>
            </div>
            <button type="submit" class="btn btn-primary">Import Animals</button>
        </form>
    </li> *@
</ul>