html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

ul.restaurant-list, ul.country-list {
    list-style-type: none;
    padding: 0;
}

li.restaurant-item, li.country-item {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
}