@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <a asp-page="Task1">Поточний день року</a>
    <br />

    <a asp-page="Task2">Випадкова літера англійського алфавіту</a>
    <br />
</div>
