@page
@model HomeWork1.Pages.Task3Model
@{
}

<h1>Ресторан "Смакота"</h1>
<p>Адреса: вул. Головна, Житомир</p>
<p>Телефон: +1234567890</p>
<p>Години роботи: Пн-Пт 11:00-23:00, Сб-Нд 12:00-00:00</p>
<p>Опис ресторану: Ресторан "Смакота" пропонує вам справжню гастрономічну подорож світом. Наше меню включає страви з різних кухонь, такі як італійська, французька, японська та інші. Завітайте до нас і насолоджуйтесь найкращою їжею в місті!</p>